@if (ViewBag.loginUnsuccessful == true)
{
    <form class="jumbotron has-error" method="post">
        <h1>AWS CI/CD Demo</h1>
        <h4>Welcome! Please login.</h4>
        <div class="form-group">
            <input autofocus class="form-control" name="password" placeholder="Password" type="password" />
            <small class="control-label">The password was incorrect.</small>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
}
else
{
    <form class="jumbotron" method="post">
        <h1>AWS CI/CD Demo</h1>
        <h4>Welcome! Please login.</h4>
        <div class="form-group">
            <input autofocus class="form-control" name="password" placeholder="Password" type="password" />
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
}
